/* 
   RESET
 */
* {
    /*outline: 2px solid red;*/
    padding: 1px;
    margin: 1px;
    box-sizing: border-box;
}

/* 
   GLOBAL
 */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Instrument Sans', sans-serif;
    background-color: #fff;
}

/* 
   LAYOUT
 */
#content {
    flex: 1;
}

.titlepage {
    font-family: "Great Vibes", cursive;
    font-weight: 600;
    font-size: x-large;
    color: #F5C97A;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    padding: 0px auto;
    border: 20px;
    margin: 50px 20px 20px 20px;
}

.footer {
    outline: 1px solid #8B3A2A;
    background-color: antiquewhite;
    color: #2C2C2C;
    text-align: center;
    padding: 10px;
}

/* 
   COMPONENTES
 */
.recipes {
    font-size: large;
    height: auto;
    width: auto;
    padding: 0px auto;
    margin-top: 50px;
    margin-left: 20%;
    margin-bottom: 35px;
}

.recipes a {
    color: #8B3A2A;
}

.recipes a:hover {
    color: #F5C97A;
}